{{> header}}

<h1>Productos Carrito</h1>
<div class="d-flex flex-wrap gap-3">
	{{#each products}}
	<form action=`/cart/cartDelete/{{id}}` method="DELETE" class="card" style="width: 18rem;">
			{{! <img src="..." class="card-img-top" alt="..." /> }}
			<div class="card-body">
				<h5 class="card-title">{{title}}</h5>
				<p class="card-text">Categoria {{category}}</p>
				<p class="card-text">Precio ${{price}}</p>
				<p class="card-text">Stock {{stock}}</p>
				<p class="card-text">Descripción {{description}}</p>
				<div class="d-flex justify-content-between">
					<button type="submit" class="btn btn-primary">Eliminar</button>
					<a href="/product/{{id}}" class="btn btn-primary">Ver Detalle</a>
				</div>
			</div>
		</form>
	{{/each}}
</div>
	<h3>El total del Carrito es de $ {{totalPrice}}</h3>

		<script src="/socket.io/socket.io.js"></script>
		<script src="/js/products.js"></script>
		<script src="/js/cart.js"></script>

