{{> header}}

<h1>Product</h1>
<form action="/cart/addCart/{{product.id}}" method="POST" class ="d-flex flex-wrap gap-3">
		<div class="card" style="width: 24rem;">
			{{! <img src="..." class="card-img-top" alt="..." /> }}
			<div class="card-body">
				<h5 class="card-title">{{product.title}}</h5>
				<p class="card-text">Categoria {{product.category}}</p>
				<p class="card-text">Precio ${{product.price}}</p>
				<p class="card-text">Stock {{product.stock}}</p>
				<p class="card-text">Descripción {{product.description}}</p>
				<div class="d-flex justify-content-between">
					<button type="submit" class="btn btn-primary">Agregar al Carrito</button>
					<a href="/realTimeProducts/" class="btn btn-primary">Volver</a>
				</div>
			</div>
		</div>
</form>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/js/cart.js"></script>
